---
layout: default
---

<div class="home">
  <div class="page-heading">
    <h2 class="page-title">About me</h2>
  </div>
  <div class="about">
    <div class="container-face">
      <img class="face" src="{{site.baseurl}}/assets/img/{% if site.pic %}{{ site.pic }}{% else %}github.jpg{% endif %}" alt="">
    </div>
    <h2 class="tagline">{% if site.tagline %}{{site.tagline}}{% else %}Msc Information technology{% endif %}</h2>
    <div class="about-description">
      <p>{% if site.about-description %}{{site.about-description}}{% else %}Diego Alejandro Martinez Vergara | Magister en tecnologías de información| IT Manager| Data engineer 👩‍💻📊 {% endif %}</p>
    </div>
    <div class="contact-contaiver">
      <ul class="contact-list">

        {% if site.email %}
          <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i> {{site.email}}</a></li>
        {% else %}
          <li class="email"><a href="mailto:sheludkoartem@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> dimartinez@fen.uchile.cl</a></li>
        {% endif %}

        {% if site.phone %}
          <li class="phone"><a href="tel:{{site.phone}}"><i class="fa fa-phone"></i> {{site.phone}}</a></li>
        {% else %}
          <li class="phone"><a href="tel:+ 56948946754"><i class="fa fa-phone" aria-hidden="true"></i> +569 4894 6754</a></li>
        {% endif %}

        {% if site.website %}
          <li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i> {{site.website}}</a></li>
        {% else %}
        <li class="website"><a href="http://www.drachen.cl" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> www.drachen.cl</a></li>
        {% endif %}

        {% if site.linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/dmartinez09" target="_blank"><i class="fa fa-linkedin"></i> linkedin.com/in/dmartinez09</a></li>
        {% else %}
        <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> linkedin.com</a></li>
        {% endif %}

        {% if site.github %}
          <li class="github"><a href="http://github.com/dmartinez09" target="_blank"><i class="fa fa-github"></i> github.com/dmartinez09</a></li>
        {% else %}
          <li class="github"><a href="http://github.com/dmartinez09" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> github.com/dmartinez09</a></li>
        {% endif %}

        {% if site.twitter %}
          <li class="twitter"><a href="https://drive.google.com/file/d/1Ggz7IMXrvB1kzD-enMyj2ByojgJySIKu/view?usp=drive_link" target="_blank"><i class="fa fa-twitter"></i> Resume CV</a></li>
        {% else %}
          <li class="twitter"><a href="https://drive.google.com/file/d/1Ggz7IMXrvB1kzD-enMyj2ByojgJySIKu/view?usp=drive_link" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Resume CV</a></li>
        {% endif %}

      </ul>
    </div>
  </div>
</div>
